/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); /* Poppins */

/* COLORS */
:root{
  --upper-color: #184e77;
  --button-color: #52b69a;
  --button-shadow: #34a0a4;
  --quote-color: #d3d3d3;
  --callout-color: #02c39a;
  --callout-shadow: #00a896;
}

*{
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  flex-direction: column;
}


/* HEADER */
.header{
  display: flex;
  background-color: var(--upper-color);
  color: white;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 1000px;
}

#logo{
  width: 60px;
  height: 60px;
}

ul{
  list-style: none;
  display: flex;
  gap: 20px;
}

a{
  text-decoration: none;
  color: white;
}

/* CONTENT */
.content{
  background-color: var(--upper-color);
  color: white;
  display: flex;
  /* gap: 50px; */
  justify-content: space-evenly;
  align-items: center;
  padding-top: 50px;
}

.left-side{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
}

.left-side > h1{
  font-size: 48px;
  font-weight: bold;
}

#content-image{
  height: 400px;
  width: 700px;
  margin-bottom: 50px;
}

.left-side > button{
  height: 30px;
  width: 150px;
  border-radius: 9px;
  border: none;
  font-weight: bold;
  background-color: var(--button-color);
  color: white;
}

.left-side > button:hover{
  background-color: var(--button-shadow);
  transition-duration: 300ms;
  cursor: pointer;
}

/* INFO */
.info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.card{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card > img{
  height: 300px;
  width: 400px;
  border: 5px solid var(--button-color);
  border-radius: 10px;
  box-shadow: 0px 0px 10px var(--button-shadow);
}
.card.book{
  padding-top: 25px;
}

.card > p{
  font-size: 18px;
}

/* QUOTE */
.quote{
  background-color: var(--quote-color);
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  padding: 100px;
}

.quote > h1{
  font-weight: lighter; 
}

.quote > p{
  padding-left: 1000px;
  font-size: 20px;
}

/* CALLOUT */
.sign-up{
  display: flex; 
  align-items: center;
  justify-content: center;
  padding: 100px;
}

.callout{
  background-color: var(--callout-color);
  color: white;
  display: flex;
  flex-direction: row;
  padding: 50px;
  width: 900px;
  justify-content: space-between;
  border-radius: 10px;
}

.callout > button{
  background-color: var(--callout-color);
  border: 2px solid white;
  color: white;
  border-radius: 9px; 
  width: 150px;
  height: 50px;
}

.callout > button:hover{
  background-color: var(--callout-shadow);
  transition-duration: 300ms;
  cursor: pointer;
}

.callout > .text{
  display: flex;
  flex-direction: column; 
}

