/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); /* Poppins */

:root{
  --upper-color: #a4161a;
}

*{
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}



body{
  display: flex;
  flex-direction: column;
}


/* HEADER */
.header{
  display: flex;
  background-color: var(--upper-color);
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#logo{
  width: 60px;
  height: 60px;
}

ul{
  list-style: none;
  display: flex;
  gap: 20px;
}

a{
  text-decoration: none;
  color: white;
}




